<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid"> <a class="navbar-brand" href="#">Fixed navbar</a> <button class="navbar-toggler"
            type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a> </li>
                <li class="nav-item"> <a class="nav-link " aria-current="page" routerLink="/popularListMovie">Peliculas Populares</a></li>
                <li class="nav-item"> <a class="nav-link " aria-current="page"  routerLink="/peoplePopularList">Personajes Populares</a> </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="row">
@for (movies of MoviePopularList; track movies.id) {
<div class="col-3 card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{movies.title}}</h5>
        <p class="card-text">{{movies.overview}}</p>
        
    </div>
</div>

}
</div>
<div class="row">
@for (people of popularList; track people.id) {
<div class=" col-3 card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Nombre: {{people.name}}</h5>
        <p class="card-text">{{people.known_for_department}}</p>
        
    </div>
</div>
}
</div>

